body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:0;
}

.container{
    width:70%;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
}

textarea{
    width:100%;
    padding:10px;
}

input{
    padding:10px;
}

button{
    background:#222;
    color:white;
    padding:12px 20px;
    border:none;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}
