<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI Resume Analyzer Pro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>AI Resume Analyzer Pro</h1>

    <form action="/analyze" method="POST" enctype="multipart/form-data">

        <label>Upload Resume PDF</label><br>
        <input type="file" name="resume" required><br><br>

        <label>Paste Job Description</label><br>
        <textarea name="job_description" rows="10" cols="60" required></textarea><br><br>

        <button type="submit">Analyze Resume</button>

    </form>

</div>

</body>
</html>
